In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv('World University Rankings 2023.csv')

In [41]:
for i in df.select_dtypes('object').columns:
    print(i)
    if len(df[i].mode())>1:
        try:
            df[i] = pd.to_numeric(df[i])
        except ValueError as e:
            rand_index=np.random.choice(df[i][~df[i].isna()].index,1)
            #x=str(e)
            x_str=re.sub(r'\d+', '', df[i][rand_index].iloc[0])
            if (bool(re.search(r'\d+', df[i][rand_index].iloc[0])) == True) and (len(x_str)<(len(df[i][rand_index].iloc[0])-len(x_str))):
                df[i] = pd.to_numeric(df[i].str.replace(',',''),errors='coerce')
                print(f'column "{i}" has been converted to Numeric')
                continue
            else:
                continue
    else:
        continue

University Rank
Name of University
Location
International Student
Female:Male Ratio
OverAll Score

In [42]:
# len(re.sub(r'\d+', '',df['No of student'][rand_index].iloc[0]))
# x_str=re.sub(r'\d+', '', df['No of student'][rand_index].iloc[0])
# if (bool(re.search(r'\d+', df['No of student'][rand_index].iloc[0])) == True) and (len(x_str)<(len(df['No of student'][rand_index].iloc[0])-len(x_str))):
#     print('yes')\
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   float64
 4   No of student per staff      2208 non-null   float64
 5   International Student        2209 non-null   object
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(7), object(6)
memory usage: 237.9+ KB

In [339]:
class Analyze_csv():
    def __init__(self,df):
        self.df = df

    def no_of_rows(self):
        return len(self.df)
        
    def no_of_null_total(self):
        x=''
        for i,j in zip(self.df.columns,self.df.isna().sum()):
            x = x+f'"{i}" column has {j} null values'+'\n'
        return x
    def col_details(self):
        total_cols=len(self.df.columns)
        num_cols='The numerical columns in this dataset are: \n'
        cat_cols='The Categorical columns in this dataset are: \n'

        for i in df.select_dtypes('number').columns:
            num_cols = num_cols+i+'\n'
        for j in df.select_dtypes('object').columns:
            cat_cols = cat_cols+j+'\n'
        return total_cols, num_cols, cat_cols

    def num_col_details(self):
        a='Mean(average) value for the Numerical columns are as below:\n'
        b='Min value for the Numerical columns are as below:\n'
        c='Max value for the Numerical columns are as below:\n'
        d='Median value for the numerical columns are as below:\n'
        e='standard deviation of the numerical columns as below:\n'
        
        for i in df.select_dtypes('number').columns:
            a=a+f'{i} : {str(round(self.df[i].mean(),2))}'+'\n'
            b=b+f'{i} : {str(round(self.df[i].min(),2))}'+'\n'
            c=c+f'{i} : {str(round(self.df[i].max(),2))}'+'\n'
            d=d+f'{i} : {str(round(self.df[i].median(),2))}'+'\n'
            e=e+f'{i} : {str(round(self.df[i].std(),2))}'+'\n'
            
        return a,b,c,d,e
    def cat_col_details(self):
        a='Mode for the Categorical columns are as below:\n'
        b='Top 5 repeated values for Categorical columns are as below:\n'
        
        for i in self.df.select_dtypes('object').columns:
            if len(self.df[i].mode()) > 1:
                a=a+f'{i} : this column has more than 1 mode'+'\n'
            else:
                a=a+f'{i} : {str(self.df[i].mode()[0])}'+'\n'
        for i in self.df.select_dtypes('object').columns:
            if len(self.df[i].mode()) == 1:
                b=b+f'{i} : {dict(self.df[i].value_counts()[0:5])}'+'\n'
            else:
                b=b+f'{i} : This column has more than 1 mode'+'\n'
                 
        return a,b
        
    def outliers(self):
        Q1 = self.df.select_dtypes('number').quantile(0.25)
        Q3 = self.df.select_dtypes('number').quantile(0.75)
        IQR = Q3 - Q1
        x='Outliers for each Numerical column are as below:\n'

        for i in df.select_dtypes('number').columns:

            x=x+f'{i} : {str(len(df[~((self.df[i]>(Q1[i]-1.5*IQR[i])) & (self.df[i]<(Q3[i]+1.5*IQR[i])))][i])-self.df[i].isna().sum())}'+'\n'
            
        return x
    
    def distribution_type(self):
        a='Skewness for each Numerical column are as below:\n'
        b='Kurtosis for each Numerical column are as below:\n'
        c='Shapiro-wilk test for each Numerical column are as below:\n'
        for i in self.df.select_dtypes('number').columns:
            a=a+f'{i} : {self.df[~self.df[i].isna()][i].skew()}\n'
            b=b+f'{i} : {self.df[~self.df[i].isna()][i].kurtosis()}\n'
            
            shapiro_test = stats.shapiro(self.df[~self.df[i].isna()][i])
            if shapiro_test[1] > 0.05:
                c = c+f'{i} : This column appear to be normally distributed\n'
            else:
                c = c+f'{i} : This column does not appear to be normally distributed\n'

        return a,b,c

    def correlation(self):
        a = 'The correlation coefficient between the numerical columns are given below:\n'
        for i in self.df.select_dtypes('number').columns:
            for j in self.df.select_dtypes('number').columns:
                corr=self.df[[i,j]].corr().iloc[0,1]
                if i!=j and (corr>0.75 or corr<-0.75):
                    a=a+f'{i} <-> {j} : {corr}\n'
                else:
                    continue
        return a

In [340]:
a1=Analyze_csv(df)

In [351]:
prompt = f'''
[INST]
Below are the details of a dataset. it covers details like null value count, 
total rows, data type of the columns,type of distribution, type of relation 
among the columns. your task is to answer the queries on the dataset by 
referring the below details, answers the questions accurately. If user asks
about the range of certain column, refer to maximum and minimum values of the 
column and answer it.each detail is seperated by an empty line.
--------------------------------------------------------------
Details:
Total number of records in the dataset are {a1.no_of_rows()}

Null values for each column are given below\n{a1.no_of_null_total()}

Total columns in the dataset are : {a1.col_details()[0]}

{a1.col_details()[1]}

{a1.col_details()[2]}

{a1.num_col_details()[0]}

{a1.num_col_details()[1]}

{a1.num_col_details()[2]}

{a1.num_col_details()[3]}

{a1.num_col_details()[4]}

{a1.cat_col_details()[0]}

{a1.cat_col_details()[1]}

{a1.outliers()}

{a1.distribution_type()[0]}

{a1.distribution_type()[1]}

{a1.distribution_type()[2]}

{a1.correlation()}

--------------------------------------------------------------
Question: {query}
[/INST]
'''

In [352]:
print(prompt)

[INST]
Below are the details of a dataset. it covers details like null value count,
total rows, data type of the columns,type of distribution, type of relation
among the columns. your task is to answer the queries on the dataset by
referring the below details, answers the questions accurately. If user asks
about the range of certain column, refer to maximum and minimum values of the
column and answer it.each detail is seperated by an empty line.

Details:
Total number of records in the dataset are 2341

Null values for each column are given below
"University Rank" column has 0 null values
"Name of University" column has 108 null values
"Location" column has 294 null values
"No of student" column has 132 null values
"No of student per staff" column has 133 null values
"International Student" column has 132 null values
"Female:Male Ratio" column has 213 null values
"OverAll Score" column has 542 null values
"Teaching Score" column has 542 null values
"Research Score" column has 542 null values
"Citations Score" column has 542 null values
"Industry Income Score" column has 542 null values
"International Outlook Score" column has 542 null values


Total columns in the dataset are : 13

The numerical columns in this dataset are:
No of student
No of student per staff
Teaching Score
Research Score
Citations Score
Industry Income Score
International Outlook Score


The Categorical columns in this dataset are:
University Rank
Name of University
Location
International Student
Female:Male Ratio
OverAll Score


Mean(average) value for the Numerical columns are as below:
No of student : 19617.42
No of student per staff : 19.0
Teaching Score : 27.02
Research Score : 23.02
Citations Score : 48.5
Industry Income Score : 47.1
International Outlook Score : 46.88


Min value for the Numerical columns are as below:
No of student : 115.0
No of student per staff : 0.4
Teaching Score : 11.6
Research Score : 7.4
Citations Score : 0.8
Industry Income Score : 36.9
International Outlook Score : 14.1


Max value for the Numerical columns are as below:
No of student : 460632.0
No of student per staff : 232.2
Teaching Score : 94.8
Research Score : 99.7
Citations Score : 100.0
Industry Income Score : 100.0
International Outlook Score : 99.7


Median value for the numerical columns are as below:
No of student : 14292.0
No of student per staff : 16.6
Teaching Score : 22.7
Research Score : 17.0
Citations Score : 47.2
Industry Income Score : 40.5
International Outlook Score : 42.1


standard deviation of the numerical columns as below:
No of student : 25191.73
No of student per staff : 12.13
Teaching Score : 13.28
Research Score : 16.76
Citations Score : 27.97
Industry Income Score : 15.09
International Outlook Score : 22.58


Mode for the Categorical columns are as below:
University Rank : Reporter
Name of University : this column has more than 1 mode
Location : United States
International Student : 0%
Female:Male Ratio : 58 : 42
OverAll Score : 18.4–24.3


Top 5 repeated values for Categorical columns are as below:
University Rank : {'Reporter': 512, '1201–1500': 285, '1501+': 253, '1001–1200': 200, '801–1000': 193}
Name of University : This column has more than 1 mode
Location : {'United States': 173, 'Japan': 150, 'United Kingdom': 149, 'India': 91, 'China': 82}
International Student : {'0%': 336, '1%': 289, '2%': 196, '3%': 148, '4%': 115}
Female:Male Ratio : {'58 : 42': 95, '55 : 45': 94, '54 : 46': 89, '57 : 43': 88, '56 : 44': 84}
OverAll Score : {'18.4–24.3': 305, '10.4–18.3': 290, '24.4–29.7': 203, '34.0–39.2': 201, '29.8–33.9': 199}


Outliers for each Numerical column are as below:
No of student : 82
No of student per staff : 121
Teaching Score : 94
Research Score : 108
Citations Score : 0
Industry Income Score : 239
International Outlook Score : 0


Skewness for each Numerical column are as below:
No of student : 8.523023311656651
No of student per staff : 5.476482792715064
Teaching Score : 2.0561277033210468
Research Score : 1.9485876202014587
Citations Score : 0.15154512755731275
Industry Income Score : 1.9969356212749332
International Outlook Score : 0.6706668683457329


Kurtosis for each Numerical column are as below:
No of student : 122.18229856878463
No of student per staff : 65.13385755865107
Teaching Score : 5.357828541788123
Research Score : 4.2108965906069
Citations Score : -1.1945037516773056
Industry Income Score : 3.1465863894973194
International Outlook Score : -0.6245623320186238


Shapiro-wilk test for each Numerical column are as below:
No of student : This column does not appear to be normally distributed
No of student per staff : This column does not appear to be normally distributed
Teaching Score : This column does not appear to be normally distributed
Research Score : This column does not appear to be normally distributed
Citations Score : This column does not appear to be normally distributed
Industry Income Score : This column does not appear to be normally distributed
International Outlook Score : This column does not appear to be normally distributed


The correlation coefficient between the numerical columns are given below:
Teaching Score <-> Research Score : 0.8821808920533966
Research Score <-> Teaching Score : 0.8821808920533966

In [147]:
# df['Location'].value_counts().head().index
df['Location'].mode()[0]

'United States'

In [255]:
Q1 = df.select_dtypes('number').quantile(0.25)
Q3 = df.select_dtypes('number').quantile(0.75)
IQR = Q3 - Q1

In [262]:
len(df[~((df['No of student']>(Q1['No of student']-1.5*IQR['No of student'])) & (df['No of student']<(Q3['No of student']+1.5*IQR['No of student'])))]['No of student'])-df['No of student'].isna().sum()

82

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   object
 4   No of student per staff      2208 non-null   float64
 5   International Student        2209 non-null   object
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(6), object(7)
memory usage: 237.9+ KB

In [172]:
import re

def contains_number(string):
    # Search for any digit in the string
    return bool(re.search(r'\d', string))

# Example usage
test_string = "Hello, this is a test string with number 123,456."
print(contains_number(test_string))  # Output: True

test_string = "No numbers here!"
print(contains_number(test_string))  # Output: False

True
False

In [269]:
dict(df['Location'].value_counts()[0:4])

{'United States': 173, 'Japan': 150, 'United Kingdom': 149, 'India': 91}

In [182]:
np.random.randint(0,len(df))

859

In [225]:
bool(re.search(r'^(?=.*\d)(?=.*,)[^a-zA-Z]*$',df['No of student'][np.random.choice(df['No of student'][~df['No of student'].isna()].index,1)]))

TypeError: expected string or bytes-like object, got 'Series'

In [230]:
df['No of student'][np.random.choice(df['No of student'][~df['No of student'].isna()].index,1)].iloc[0]

'10,540'

In [289]:


# Assuming 'data' is a one-dimensional numpy array or a pandas series
shapiro_test = stats.shapiro(df[~df['No of student'].isna()]['No of student'])

print(f"Test statistic: {shapiro_test[0]}, p-value: {shapiro_test[1]}")

Test statistic: 0.5144734382629395, p-value: 0.0

In [300]:
xx=df.select_dtypes('number').corr()

In [313]:
for i in range(0,len(xx.columns)):
    xx.iloc[i,i]=0

In [331]:
xx[(xx>0.75) | (xx<-0.75)].idxmax(skipna=True)

C:\Users\naren\AppData\Local\Temp\ipykernel_28928\1421972568.py:1: FutureWarning: The behavior of DataFrame.idxmax with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  xx[(xx>0.75) | (xx<-0.75)].idxmax(skipna=True)

No of student                             NaN
No of student per staff                   NaN
Teaching Score                 Research Score
Research Score                 Teaching Score
Citations Score                           NaN
Industry Income Score                     NaN
International Outlook Score               NaN
dtype: object

In [338]:
df[df.select_dtypes('number').columns].corr()

,No of student,No of student per staff,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
No of student,1.000000,0.315527,-0.001826,0.022474,0.026195,-0.016474,-0.034050
No of student per staff,0.315527,1.000000,-0.130569,0.006686,-0.005684,-0.002588,0.029470
Teaching Score,-0.001826,-0.130569,1.000000,0.882181,0.451169,0.492579,0.385006
Research Score,0.022474,0.006686,0.882181,1.000000,0.514013,0.583051,0.537993
Citations Score,0.026195,-0.005684,0.451169,0.514013,1.000000,0.182949,0.536379
Industry Income Score,-0.016474,-0.002588,0.492579,0.583051,0.182949,1.000000,0.218060
International Outlook Score,-0.034050,0.029470,0.385006,0.537993,0.536379,0.218060,1.000000

In [354]:
response=[('id', 'chatcmpl-9Zdk8Ocj0MwO73oufFUO6b4ceBFAc'), ('choices', [Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='The columns in the dataset are as follows:\n\n1. University Rank\n2. Name of University\n3. Location\n4. No of student\n5. No of student per staff\n6. International Student\n7. Female Ratio\n8. OverAll Score\n9. Teaching Score\n10. Research Score\n11. Citations Score\n12. Industry Income Score\n13. International Outlook Score\n\nThese columns contain information about the universities, including various numerical and categorical data points.', role='assistant', function_call=None, tool_calls=None))]), ('created', 1718281280), ('model', 'gpt-3.5-turbo-0125'), ('object', 'chat.completion'), ('system_fingerprint', None), ('usage', CompletionUsage(completion_tokens=100, prompt_tokens=2725, total_tokens=2825))]

NameError: name 'Choice' is not defined